/******************
Base Styles
*******************/
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color:#000000;
  background-color:#FAFAFA;
}

h2 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  text-align: center;
}

img {
  max-width: 100%;
}

footer {
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a
  background-color: #DDDDDD;
}

/*****************
Base Layout Styles
****************/

.name {
  margin: 0;
  text-align: center;
  font-weight: 900;
}

.main-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin-top: 10px;
  text-align: center;
  background-color: #FFFFFF;
  font-weight: 700;
  text-transform:  uppercase;
  display: block;
}

.name a,
.main-nav a {
  text-decoration: none;
  color: #4A4A4A;
  text-align:  center;
  display: block;
  padding: 10px 15px;
}

.home {
  text-align: center;
  margin: 25px;
  line-height: 150%;
}

.portfolio ul {
  list-style-type: none;
  margin: 0 25px;
  padding: 0;
}

.portfolio li, a {
  text-align: center;
}

.contact {
  margin-top: 100px;
}

.contact p,
.contact li {
  list-style-type: none;
  text-align: center;
  color: #7f7f7f;
}

.contact a {
  color: #626f7e;
  font-weight: bold;
  text-decoration: none;
  padding-left: 10px;
}


footer {
  display: block;
  text-decoration: none;
  margin: 15px 5px;
  color: #000000;
}

footer a {
  text-decoration: none;
  margin: 15px 5px;
  color: #000000;
}

.student {
  font-weight: bold;
  float: left;
}

.top {
  font-weight: bold;
  float: right;
}


}
